table {
  border-collapse: collapse;
}

table td,
thead th {
  border: 1px solid black; 
}

thead th {
  border-top: 0;
}

table tr td:first-child,
thead th:first-child  {
  border-left: 0;
}

table tr:last-child td,
thead th:last-child {
  border-bottom: 0;
}

table tr td:last-child,
thead th:last-child {
  border-right: 0;
}

td {
  padding: 8px;
}